.run__wrapper {
  background-image: url('../img/svg/top-image.svg');
  background-color: #6FD7E7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 384px;
}

.run__title {
  padding-top: 50px;
  margin-bottom: 20px;
}

.run__menu {
  display: flex;
}

.run__content {
  @include btn-reset;
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-weight: bold;

  svg {
    margin-left: 20px;
    transform: rotate(90deg);
  }
}

.run__make-schedule {
  @include btn-reset;
  display: flex;
  align-items: center;
  font-weight: bold;

  svg {
    margin-left: 20px;
    transform: rotate(90deg);
  }
}

.run__main {
  margin-top: -50px;
  padding-bottom: 200px;
}

.run__history-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow: visible;
  z-index: 1;
  margin: 0 0 50px;

  flex-direction: column;
  @include lg-block {
    flex-direction: row;
  }

}

.run__history-item {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: visible;
  @include lg-block {
    width: 20%;
  }

  svg {
    position: absolute;
    top: 0;
    @include lg-block {
      left: -50%;
      top: -10%;
      transform: translateX(25%);
    }


  }

  span {
    width: 100%;
  }

  span:first-child {
    margin-bottom: 60px;

  }

  &:first-child {
    z-index: 10;
  }

  &:nth-child(2) {
    z-index: 9;
  }

  &:nth-child(3) {
    z-index: 8;
  }

  &:last-child {
    z-index: -1;
  }
}

.run__history-content {
  p {
    line-height: rem-calc(20);
  }
}
