section.about
    .about__container.container
        .about__info
            h2.about__title.title О проекте
            p.about__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae consequuntur deserunt dicta dignissimos doloremque expedita explicabo libero mollitia, necessitatibus numquam quae, quaerat quis quos ratione rem soluta velit voluptate.
            a(href='test.html').about__link.arrow-link Узнай свой уровень подготовки
                svg(width='30' height='30')
                    use(href="#small-black-arrow")
    svg.waves(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 24 150 28' preserveaspectratio='none' shape-rendering='auto')
        defs
            path#gentle-wave(d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z')
        g.parallax
            use(href='#gentle-wave' x='48' y='7' fill='#f7f7f7')

    img(src='img/icons/basketball-ring.svg').about__basketball-ring
    img(src='img/icons/basketball.svg').about__basketball

section.intro
    .intro__container.container
        h2.intro__title СПОРТ ДЛЯ ВСЕХ
        p.intro__descr
            | Новичок или прфи? Спорт - для всех! Lorem ipsum dolor sit amet,
            | consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis.
            | Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris
            | sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis
            | scelerisque quam, at placerat justo ultrices.
        ul.intro__list
            li.intro__list-item
                svg
                    use(href="#checklist")
                span просто пройди тест
            li.intro__list-item
                svg
                    use(href="#gym")
                span выполни упражнения
            li.intro__list-item
                svg
                    use(href="#timer")
                span проверь свой&nbsp;результат
.cards
    svg.waves(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 24 150 28' preserveaspectratio='none' shape-rendering='auto')
        defs
            path#gentle-wave(d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z')
        g.parallax
            use(href='#gentle-wave' x='48' y='7' fill='#f7f7f7')
    .cards__container.container
        h2.cards__title.title Спорт для тебя!
        ul.cards__list
            li.cards__list-item
                h4.card__title Сайт - энциклопедия
                p.card__descr Ты можешь заниматься спортом не выходя из дома Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias aperiam aut, consequuntur corporis cum distinctio dolore eveniet fuga laboriosam quaerat quam ratione rerum saepe, sapiente velit veritatis, vitae.
                a(href="#").card__link.link Подробнее
            li.cards__list-item
                h4.card__title Личный график
                p.card__descr Ты можешь заниматься спортом не выходя из дома Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias, dolorum, inventore ipsam ipsum laudantium libero magnam natus nostrum quam quas sint tempora voluptates. Culpa doloremque libero mollitia porro similique?
                a(href="#").card__link.link Подробнее
            li.cards__list-item
                h4.card__title Дома или на улице
                p.card__descr Ты можешь заниматься спортом не выходя из дома Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eum explicabo in numquam obcaecati porro quia soluta vero. Ad, alias dolores doloribus est eveniet fugiat illo iure laborum vel vitae.
                a(href="#").card__link.link Подробнее
        img.cards__image(src='img/icons/laydown-girl.svg')