section.about
    .about__container.container
        .about__info
            h2.about__title.title О проекте
            p.about__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae consequuntur deserunt dicta dignissimos doloremque expedita explicabo libero mollitia, necessitatibus numquam quae, quaerat quis quos ratione rem soluta velit voluptate.
            a(href='test.html').about__link.arrow-link Узнай свой уровень подготовки
                svg(width='30' height='30')
                    use(href="#small-black-arrow")

section.intro
    .intro__container.container
        h2.intro__title СПОРТ ДЛЯ ВСЕХ
        p.intro__descr
            | Новичок или прфи? Спорт - для всех! Lorem ipsum dolor sit amet,
            | consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis.
            | Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris
            | sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis
            | scelerisque quam, at placerat justo ultrices.
        ul.intro__list
            li.intro__list-item
                svg
                    use(href="#checklist")
                span просто пройди тест
            li.intro__list-item
                svg
                    use(href="#gym")
                span выполни упражнения
            li.intro__list-item
                svg
                    use(href="#timer")
                span проверь свой результат
.cards
    .card__container
        ul.cards__list
            li.cards__list-item
            li.cards__list-item
            li.cards__list-item