section.pages
    .pages__container.container
        h2.pages__title.title Страницы
        ul.pages__list
            li.pages__item
                a.pages__link(href='index.html') Главная
            li.pages__item
                a.pages__link(href='run.html') Бег
            li.pages__item
                a.pages__link(href='lessons.html') Занятия
            li.pages__item
                a.pages__link(href='level-1.html') Уровень 1

            li.pages__item
                a.pages__link(href='prepare.html') Подготовка
            li.pages__item
                a.pages__link(href='prepare-2.html') Подготовка 2
            li.pages__item
                a.pages__link(href='task.html') Задание
