.reccomendations {
  position: relative;
  .cards {
    margin-bottom: 540px;
    @include md-block {

      margin-bottom: 420px;
    }
  }
  .cards__container {
    padding-bottom: 250px;
  }
}


.reccomendation__descr {
  background: #fff;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
  @include col;
  @include size(12);
  margin: 0 auto;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  @include md-block {
    @include size(6.5);
    bottom: -25%;
  }
}
