.breadcrumbs {
  @include list-reset;
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;

  li:last-child a::after {
    content: '';
  }
}

.breadcrumbs__link {

    &::after {
      content: '/';
    }

}