.intro {
  background: #f7f7f7;
  z-index: 2;
  padding-bottom: 200px;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  margin: 0;
}

.intro__descr {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 50px;
  @include md-block {
    width: 50%;
  }
}

.intro__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: visible;
}

.intro__list-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: visible;
  svg {
    width: 40px;
    height: 40px;
    fill: #61be6a;
    margin-bottom: 60px;
  }
  span {
    width: 70%;
  }
  &::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 100%;
    background-image: url('../img/svg/green-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    top: 40%;
  }
  &:first-child::after {
    z-index: 10;
  }
  &:nth-child(2)::after {
    z-index: 9;
  }
  &:last-child::after {
    z-index: 8;
  }
}
