section.preloader
    span.preloader__back
        span.preloader__image
            img(src='../img/icons/cyclist-1.svg' alt='preloader image')
    p.preloader__forward
        span.preloader__background
        svg
            use(href="#logo")
