section.preloader
    span.preloader__back
        span.preloader__image
            svg
              use(href="#cyclist-1")
    p.preloader__forward
        span.preloader__background
        svg
            use(href="#logo")
