ul.header__social.social
    li.social__item
        a.social__link(href='#') Facebook
            svg.social__link-svg(width=21 height=21)
                use(href='#fb')

    li.social__item
        a.social__link(href='#') Instagram
            svg.social__link-svg(width=21 height=21)
                use(href='#in')

    li.social__item
        a.social__link(href='#') Youtube
            svg.social__link-svg(width=21 height=21)
                use(href='#yt')