@mixin list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin btn-reset {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    &:focus {
        outline: none;
    }
}

@mixin hover {
    &:hover {
        opacity: 0.8;
    }

    &:focus {
        outline: none;
        opacity: 0.7;
    }
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin debug($background, $outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;

    > div{
        height: inherit;
        @include wrapper();

        > div{
            height: inherit;
            @include row-flex();

            > div{
                @include col();
                @include size(1);
                height: inherit;
                outline: $outline;
                background: $background;
            }
        }
    }
}

.debug-grid{
    @include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}