section.run
    .run__wrapper
        .run__container.container
            h1.run__title.title Бег
            .run__menu
                button.run__content#content-btn Содержание
                    svg(fill='transparent' width=25 height=25)
                        use(href="#chevron" stroke='black')
                button.run__make-schedule#make-schedule-btn Создать график упражнений
                    svg(fill='transparent' width=25 height=25)
                        use(href="#chevron" stroke='black')
    .run__main
        .run__container.container
            h2.run__subtitle Бег - это:
            p.run__about - способ передвижения циклического характера.Содержание цикла – двойной шаг с одноопорной фазой и фазой полета;
            p.run__about - один из естественных способов передвижения человека в пространстве.Главное отличие бега от ходьбы — наличие фазы полета в процессе выполнения беговых шагов;
            p.run__about - самостоятельная дисциплина легкоатлетического спорта, наиболее распространенное физическоеупражнение, входящее в состав различных спортивных дисциплин.
            article.run__history
                h2.run__subtitle Историческая справка
                ul.run__history-list
                    li.run__history-item
                        span 776 г до н.э.
                        svg(width=325 height=100 )
                            use(href='img/sprite.svg#green-arrow' )
                        span Первые официальные соревнования по бегу – Олимпийские игры
                    li.run__history-item
                        span 1837 г.
                        svg(width=325 height=100 )
                            use(href='img/sprite.svg#green-arrow' )
                        span В Англии был проведен первый забег с препятствиями
                    li.run__history-item
                        span 1837 г.
                        svg(width=325 height=100 )
                            use(href='img/sprite.svg#green-arrow' )
                        span Открытие кружка любителей спорта в России.
                    li.run__history-item
                        span 1960 г.
                        svg(width=325 height=100 )
                            use(href='img/sprite.svg#green-arrow' )
                        span Советсткая легкоатлетическая сборная одержала победу над американскими бегунами
                .run__history-content
                    p Соревнования по бегу на скорость были приурочены к праздникам и проводились задолго до нашей эры в
                        | древних странах Переднего Востока – Междуречье, Месопотамия, Египет.
                    p Скорость перемещения древних и средневековых армий зависела от скорости передвижения наименее
                        | мобильной ее части – пехоты. Тренировки по бегу – марш-броски с полной выкладкой были неотъемлемой
                        | частью жизни любой армии. Особо одаренных воинов, которые могли с высокой скоростью пробегать
                        | значительные расстояния, назначали гонцами. Они переносили свитки с информацией из города в город.
                    p Первые официальные соревнования по бегу – Олимпийские игры 776 г до н. э. На этих соревнованиях
                        | спринтеры бежали только один стадий (192 м). В 724 г. до н. э. был введен бег на два стадия. Прошло еще
                        | четыре года, и древние греки решили ввести в программу бег на 24 стадия. Существуют записи, которые
                        | подтверждают, что уже в то время у древних греков были свои системы тренировок бегунов. Практиковались
                        | тренировки со смешанным темпом, специальные беговые упражнения (бег с высоким подниманием, захлест
                        | голени, бег прыжками). Победители игр становились в своих городах героями, им ставили памятники и
                        | воспевали в стихах. Благодаря таким одам до нас через три тысячелетия дошли имена первых звезд легкой
                        | атлетики — Астила, Эхиона и Фанаса.
                    p В 394 г. н. э. античные олимпийские игры прекратили свое существование, и в наступившем темном времени
                        | соревнования по бегу практически не проводились. Забеги на скорость устраивались во время
                        | продолжительных средневековых празднеств, но не были настолько популярны и многочисленны, как в
                        | древние времена.
                    p Дальнейшее развитие бег как самостоятельная дисциплина получил лишь в XVIII в.
                    p Наибольшую популярность бег приобрел на Туманном Альбионе: здесь проводились состязания на больших
                        | дорогах между городами или на дорожках ипподромов. Устраивались также соревнования по часовому бегу.
                    p В 1837 г. в Англии был проведен первый забег с препятствиями, в котором участвовали студенты колледжа
                        | города Регби. В 1845 г. в Англии был устроен забег на длинную дистанцию.
                    h3 СОВРЕМЕННЫЕ ОЛИМПИЙСКИЕ ИГРЫ
                    p Однако настоящий триумф спорта, в том числе бега, состоялся в 1886 г, когда под руководством Пьера де
                        | Кубертена открылись первые Олимпийские игры современности. На соревнованиях в Афинах были
                        | представлены следующие дистанции – 100, 400, 800, 1500, 110 м с барьерами и марафон. Постепенно в
                        | программу игр добавлялись все новые и новые беговые виды. Стартовать на этих состязаниях можно было из
                        | любой удобной для бегуна позы.
                    p В наше время бег непрерывно развивается. Несмотря на то, что основы техники бега (спринтерского и
                        | стайерского) были сформированы более века назад, современные талантливые тренеры разрабатывают
                        | новые подходы к тренировочному процессу и улучшению техники. Совершенствуются средства
                        | восстановления, благодаря чему бегуны приобретают большую выносливость. Отдельно необходимо сказать о
                        | массовости занятий бегом. В развитых странах бегать по паркам, городским улицам, тротуарам – привычное
                        | дело. Любители бега участвуют во всевозможных массовых пробегах, объединяются в клубы. Наибольшее
                        | развитие любительского бега наблюдается в марафоне и длинных дистанциях.
                    h3 БЕГ В РОССИИ
                    p В России зарождение бегового движения связано с созданием в 1888 г. кружка любителей спорта. Он был
                        | образован в местечке Тярлево под Санкт-Петербургом Петром Москвиным, который привлекал к занятиям
                        | отдыхавшую на каникулах молодежь. Через год прошли первые официальные соревнования по бегу.
                    p На международных соревнованиях члены кружка дебютировали в 1901 г. в Швеции. В первом чемпионате
                        | страны в 1908 г. в Санкт-Петербурге приняло участие всего 50 атлетов (из столицы и Риги). В 1912 г. делегация
                        | российских легкоатлетов впервые участвовала в Олимпийских играх.
                    p Однако из-за низкого уровня развития бега в России, недоукомплектованности команды никто из
                        | отечественных атлетов не завоевал призовых мест. Основная проблема занятий бегом в дореволюционной
                        | России — избранность этого вида спорта: им занимались только состоятельные граждане.
                    p В советское время бег стал действительно массовым явлением. На первом чемпионате СССР по легкой
                        | атлетике в 1923 г. участвовало 389 легкоатлетов из 40 городов страны. В спартакиаде 1928 г. приняло участие
                        | уже 1300 спортсменов не только из Советского Союза, но и 15 зарубежных стран.
                    p Впервые легкоатлеты СССР участвовали в Олимпийских играх в 1952 г. Их выступление было успешным. На
                        | Олимпиаде 1960 г. советская легкоатлетическая сборная одержала победу над американскими бегунами.
                        | Впоследствии кроме Олимпийских игр главными международными соревнованиями стали матчевые встречи
                        | СССР – США, в ходе которых поочередно побеждали оба соперника.
                    p Со временем благодаря совершенствованию тренировочного процесса, применению новых технологий при
                        | изготовлении покрытия беговых дорожек, модернизации одежды легкоатлетов и способов измерения
                        | времени результаты росли.
                    p Беговая дорожка античных олимпийских игр была грунтовой. Атлеты стартовали, опираясь на мраморные
                        | плиты. Беговая дорожка первых Олимпийских игр современности была из уплотненного грунта. Следующим
                        | шагом стало покрытие дорожек слоем гари. Прогресс не стоял на месте, беговые поверхности выполняли из
                        | бетона, асфальта, резинобитума. Сейчас устраивают покрытия из полиуретана на асфальтовой основе .
section.run__reccomendations.reccomendations
    .cards
        svg.waves(xmlns='http://www.w3.org/2000/svg' viewbox='0 24 150 28' preserveaspectratio='none' shape-rendering='auto')
            defs
                path#gentle-wave(d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z')
            g.parallax
                use(href='#gentle-wave' x='35' y='7' fill='#f7f7f7')
        .cards__top-runners
            img(src='img/svg/man-1.svg')
            img(src='img/svg/man-2.svg')
            img(src='img/svg/man-3.svg')
            img(src='img/svg/man-4.svg')
        .cards__container.container
            h2.cards__title.title Общие рекомендации для бега
            ul.cards__list
                li.cards__list-item
                    h4.card__title О нагрузках
                    p.card__descr Максимальный эффект и пользу от занятий бегом можно получить только при регулярных тренировках. Для начинающих достаточно будет выходить на пробежки через день, два-три раза в неделю. Со временем можно увеличивать как продолжительность, так и количество беговых тренировок, а также дополнять их силовыми тренировками, растяжкой, йогой.
                li.cards__list-item
                    h4.card__title Начало
                    p.card__descr Начинать стоит с 10-15 минут легкого бега в день и постепенно увеличивая интенсивность и продолжительность тренировок. Причём можно чередовать бег и ходьбу. Даже 6-10 минут джоггинга, бега в очень медленном темпе, дают позитивный эффект. Большинства позитивных эффектов бега можно добиться при длительности тренировки от 20 до 40 минут.
                li.cards__list-item
                    h4.card__title Бег для здоровья
                    p.card__descr Американская ассоциация кардиологов, а также ВОЗ, рекомендуют для общего поддержания здоровья сердечно-сосудистой системы практиковать в неделю не менее 150 минут (5 дней по 30 минут) аэробных нагрузок низкой интенсивности или 75 минут (3 дня по 25 минут) средней интенсивности или их комбинацию.
        svg.waves(xmlns='http://www.w3.org/2000/svg' viewbox='0 24 150 28' preserveaspectratio='none' shape-rendering='auto')
            defs
                path#gentle-wave(d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z')
            g.parallax
                use(href='#gentle-wave' x='4' y='7' fill='#f7f7f7')
    .reccomendation__descr
        h3.reccomendations__descr-title Спортивная одежда для бега
        p.reccomendations__descr-text Для бега рекомендуется использовать майки из синтетических материалов, отводящих влагу. Шорты или спортивные брюки - также лучше синтетические или плотные из хлопка для прохладной погоды.
        p.reccomendations__descr-text В случае прохладной погоды или во время солнечной надевают майки с длинными рукавами.
        p.reccomendations__descr-text Специалисты не рекомендуют бегать в обуви для кроссфита, в теннисных кроссовках, кедах или обуви спортивного стиля. Оптимальный вариант – беговые кроссовки.
        p.reccomendations__descr-text Вечером в лесу или парке лучше надевать защитные очки на случай встречи с ветками, днем – солнцезащитные очки и обязательно солнцезащитный спрей на открытые части тела при высокой солнечной активности.
        .reccomendations__accesories.accsesories
            p.accsesories__title Возможные аксессуары для пробежек:
            ul.accesories-list
                li.accesories-list__item
                    img(src='img/svg/water.svg' aria-hidden='true')
                    ul.accesories-list__descr
                        li вода в пластиковой бутылке на поясе или в сумке
                        li сумка-пояс (для телефона, ключей)
                li.accesories-list__item
                    img(src='img/svg/gloves.svg' aria-hidden='true')
                    ul.accesories-list__descr
                        li синтетическая шапка и перчатки в холодную погоду
                        li защитные очки
                li.accesories-list__item
                    img(src='img/svg/braclet.svg' aria-hidden='true')
                    ul.accesories-list__descr
                        li наушники для бега (лучше всего беспроводные)
                        li электронные смарт-часы
section.technique
    .technique__container.container
        article.technique__article.article
            .article__wrapper.wrapper
                h2.article__title.title Техника бега
                .article__text
                    p Для бега характерен тот же цикл движений, что и при ходьбе, теже действующие силы и функциональные группы мышц. Отличием бега от ходьбы является отсутствие при беге фазы двойной опоры.
                    p Кисть нужно слегка сжать в кулак, запястье должно быть слегка напряжено с целью фиксации в одном положении. Руки должны быть свободно согнуты в локтевом суставе и располагаться симметрично. Чем чаще ритмичные движения руками, тем выше темп. Плечи нужно поддерживать в расслабленном состоянии и не поднимать их.
                    p Корпус нужно наклонить слегка вперед (на 5-7 градусов, что обеспечивает движение по инерции). Нельзя допускать раскачиваний туловища из стороны в сторону, так как это увеличит сопротивление воздуха, а значит, уменьшит скорость и увеличит нагрузку. В результате вы быстрее устанете.
                    p Во время бега нужно держать осанку, то есть не надо слишком наклоняться вперед, так как это приведет к затрудненному дыханию и опасности «прямой ноги», также не нужно запрокидывать тело назад, в противном случае живот увеличит сопротивление встречного воздуха, а из-за наклона туловища придется увеличить высоту подъема бедра, что приведет к возрастанию нагрузки на позвоночник. Поэтому соблюдение неподвижности туловища во время бега предохраняет от получения травм позвоночника. Точка соприкосновения стопы с поверхностью должна находиться на одной линии с бедрами и головой. Постановка стопы производится с пятки на носок. Исключением является спринт, где спортсмены преодолевают дистанцию исключительно на носках. Носок немного повернут внутрь, что позволяет сохранить скорость. Если носки смотрят в разные стороны, то усилия будут прилагаться с меньшей эффективностью.
                    p Высота колен зависит от дистанции. Существует правило – чем  выше колено, тем больше энергии затрачивается. Поэтому, если вы бежите длинную дистанцию, то старайтесь минимально поднимать колено.
                    p Длина бегового шага должна быть естественной. Не нужно стремиться увеличить её. Со временем, когда мышцы ваших ног окрепнут и станут более развитыми, длина вашего бегового шага постепенно увеличится естественным образом. Голова играет несущественную роль во время пробежки. Но помните, что низко опущенная голова нагружает шейный отдел позвоночника, что
                .accordion
                    .accordion-item
                        button.accordion-button#accordion-button-1(aria-expanded='false')
                            span.accordion-title Дыхание
                            span.icon(aria-hidden='true')
                                svg(width='20' height='20' fill='none')
                                    use(href="#chevron" stroke='#000')
                        .accordion-content
                            p
                                | Лизинг — финансовый инструмент, суть которого заключается в следующем: лизинговая компания приобретает у поставщика необходимое вам (юридическим лицам и индивидуальным предпринимателям) оборудование и сдает его вам с фиксированной помесячной платой в аренду, а в конце срока лизинга вы получаете это оборудование в собственность.
                    .accordion-item
                        button.accordion-button#accordion-button-2(aria-expanded='false')
                            span.accordion-title Питание
                            span.icon(aria-hidden='true')
                                svg(width='20' height='20' fill='none')
                                    use(href="#chevron" stroke='#000')
                        .accordion-content
                            p
                                | Лизинг — финансовый инструмент, суть которого заключается в следующем: лизинговая компания приобретает у поставщика необходимое вам (юридическим лицам и индивидуальным предпринимателям) оборудование и сдает его вам с фиксированной помесячной платой в аренду, а в конце срока лизинга вы получаете это оборудование в собственность.
