section.task
    .task__container.container
        h2.task__title.title Задание ""
        ul.breadcrumbs
            li.breadcrumbs__item
                a(href='/').breadcrumbs__link виды двигательной деятельности
            li.breadcrumbs__item
                a(href='/').breadcrumbs__link цикличные
            li.breadcrumbs__item
                a(href='/').breadcrumbs__link бег
            li.breadcrumbs__item
                a.breadcrumbs_link.breadcrumbs_link_current задание ""
        ul.exercise__options
            li.exercise__list Список упражнений
                button.exercise__open
                    svg.exercise__svg(width=19 height=19).svg-chevron
                        use(href='#chevron')
                ul.exercise__submenu
                    li.exercise__submenu-item Дыхательное
                    li.exercise__submenu-item Другое

            li.exercise__list Создать график упражнений
                button.exercise__open
                    svg.exercise__svg(width=19 height=19).svg-chevron
                        use(href='#chevron')
                ul.exercise__submenu
                    li.exercise__submenu-item Неделя
                    li.exercise__submenu-item Месяц

        .task__wrapper.wrapper
            .task-intro
                p.task-intro__title
                    b Описание
                .task-intro__descr
                    p
                        | С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовке и реализации направлений прогрессивного развития.
                    p
                        | Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
                    p
                        | С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовке и реализации направлений прогрессивного развития.
                    p
                        | Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
                    p
                        | С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовке и реализации направлений прогрессивного развития.
                .task-intro__disclaimer
                    p
                        b
                            i Самоконтроль
                    p
                        i
                            | С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовке и реализации направлений прогрессивного развития.
                            | Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
                            | С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовке и реализации направлений прогрессивного развития.
                            | Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
                            | С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовке и реализации направлений прогрессивного развития.

                p.task-intro__rules Правильное положение при беге
                    img(src='img/icons/run.svg' aria-hidden='true')
                ol.task-intro__list
                    li.task-intro__item
                    li.task-intro__item
                    li.task-intro__item
                    .prepare__list-container
                        button.btn.green начать отсчет
                        span.prepare__time.prepare__time_big 15:00
                    p
                        b Сразу после возобновления дыхания подсчитайте пульс за 30 секунд
                    .prepare__list-container
                        button.btn запустить таймер
                        span.prepare__time 00:30
                    .prepare__list-container
                        label Пульс через минуту
                            input(type='text')
                        label Пульс через 2 минуты
                            input(type='text')
                        label Пульс через 3 минуты
                            input(type='text')