footer.footer
  .footer__container.container
    ul.footer__nav
      li.footer__nav-item
        a(href='#').footer__nav-link О нас
      li.footer__nav-item
        a(href='#').footer__nav-link Спонсоры
      li.footer__nav-item
        a(href='#').footer__nav-link Разработчики
      li.footer__nav-item
        a(href='#').footer__nav-link  Контакты
